#color-slide{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    place-items: center;

    margin-top: var(--margin-xxl);

}

.itembox{
    /* width: 20vw; */
}

.icon{
    width: 20vw;
    height: 20vw;
}


#svg-text {
    filter: drop-shadow(0 0 2px black);
}

.right-column {
    flex: 1;
    display: flex;
    flex-direction: column; /* Elemente untereinander anordnen */
    align-items: flex-start;
}

input[type="text"],
input[type="color"],
input[type="range"] {
    margin-bottom: 10px;
    width: 100%; /* Vollständige Breite */
}